<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        {% for i in (1..3) %}
            <span class="icon-bar"></span>
        {% endfor %}
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle navbar-brand" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% if page.app == 'jukebox' %}The Freem Jukebox{% endif %}<span class="caret"></span></a>
          <ul class="dropdown-menu">
                 {% for item in site.data.nav.main-dropdown %}
                    <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                 {% endfor %}
          </ul>
        </li>
        {% for item in site.data.nav.bar %}
            <li class="{% if item.url == page.url %}active{% endif %}">
              <a id="{{ item.id }}" href="{{ item.jukebox }}">{{ item.title }}</a>
            </li>
        {% endfor %}
        <li><a href="https://www.patreon.com/undermybrella">Support original author on Patreon!</a></li>
      </ul>
    </div>
  </div>
</nav>
