---
title: 'The Freem Jukebox'
layout: go
app: jukebox
---

<div id="tiles"></div>

<span id="sbeats"> Total Beats: <span id="beats"> 0 </span></span>
<!--<span id='sbeats'> PC: <span id='playcount'> 0 </span></span> -->
<span id="stime"> Listen Time: <span id="time"> 00:00:00 </span></span>
